[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.20"
djangorestframework = "==3.13.1"
django-filter = "==23.2"
django-countries = "==7.3.1"
django-two-factor-auth = "==1.13.2"
django-cors-headers = "==4.1.0"
pydantic = "==1.10.7"
flask = "==2.2.3"
pyotp = "==2.9.0"
requests = "==2.31.0"

[dev-packages]
black = "==23.1.0"
pytest = "==7.2.1"
pytest-django = "==4.5.2"
django-extensions = "==3.2.1"
pyparsing = "==3.0.9"
pydot = "==1.4.2"
pytest-env = "==0.8.1"
mypy = "==1.6.1"
django-stubs = {version = "==4.2.6", extras = ["compatible-mypy"]}
djangorestframework-stubs = {version = "==3.14.4", extras = ["compatible-mypy"]}
pylint = "==3.0.2"
pylint-django = "==2.5.5"
pygraphviz = "==1.11"
pytest-xdist = {version = "==3.5.0", extras = ["psutil"]}

[requires]
python_version = "3.8"
