[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.18"
djangorestframework = "==3.13.1"
django-countries = "==7.3.1"
django-two-factor-auth = "==1.13.2"
aiohttp = "==3.8.4"
typing-extensions = "==4.5.0"

[dev-packages]
black = "==23.1.0"
pytest = "==7.2.1"
pytest-django = "==4.5.2"
django-extensions = "==3.2.1"
pyparsing = "==3.0.9"
pydot = "==1.4.2"

[requires]
python_version = "3.11"
