[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.34.162"
django = "==4.2.17"
djangorestframework = "==3.15.2"
django-filter = "==23.2"
django-countries = "==7.6.1"
django-two-factor-auth = "==1.17.0"
django-cors-headers = "==4.7.0"
django-csp = "==3.8"
django-import-export = "==4.2.0"
django-storages = {version = "==1.14.4", extras = ["s3"]}
pyotp = "==2.9.0"
python-dotenv = "==1.0.1"
psycopg2-binary = "==2.9.9"
requests = "==2.32.2"
gunicorn = "==23.0.0"
uvicorn-worker = "==0.2.0"
importlib-metadata = "==4.13.0" # TODO: remove. needed by old portal
django-formtools = "==2.5.1" # TODO: remove. needed by old portal
django-otp = "==1.5.4" # TODO: remove. needed by old portal
# https://pypi.org/user/codeforlife/
cfl-common = "==8.0.7" # TODO: remove
codeforlife-portal = "==8.0.7" # TODO: remove
rapid-router = "==7.2.6" # TODO: remove
phonenumbers = "==8.12.12" # TODO: remove

[dev-packages]
black = "==24.8.0"
boto3-stubs = {version = "==1.35.71", extras = ["essential"]}
pytest = "==8.3.3"
pytest-cov = "==5.0.0"
pytest-env = "==0.8.1"
pytest-xdist = {version = "==3.5.0", extras = ["psutil"]}
pytest-django = "==4.5.2"
django-extensions = "==3.2.1"
django-test-migrations = "==1.2.0"
pyparsing = "==3.0.9"
pydot = "==1.4.2"
pylint = "==3.2.7"
pylint-django = "==2.5.5"
isort = "==5.13.2"
mypy = "==1.6.1"
django-stubs = {version = "==4.2.6", extras = ["compatible-mypy"]}
djangorestframework-stubs = {version = "==3.14.4", extras = ["compatible-mypy"]}

[requires]
python_version = "3.12"
