# https://python-semantic-release.readthedocs.io/en/latest/#setting-up-version-numbering
[tool.semantic_release]
version_variable = "codeforlife/version.py:__version__"
branch = "main"
upload_to_repository = false
upload_to_release = true

[tool.black]
line-length = 80
extend-exclude = "^/setup.py|^/codeforlife/user/migrations/"

[tool.pytest.ini_options]
env = ["DJANGO_SETTINGS_MODULE=manage"]

[tool.mypy]
plugins = ["mypy_django_plugin.main", "mypy_drf_plugin.main"]
check_untyped_defs = true

[tool.django-stubs]
django_settings_module = "manage"

[tool.pylint.main]
init-hook = "import os; os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'manage')"

[tool.pylint.format]
max-line-length = 80
