# https://python-semantic-release.readthedocs.io/en/latest/#setting-up-version-numbering
[tool.semantic_release]
version_variable = "codeforlife/version.py:__version__"
branch = "main"
upload_to_repository = false
upload_to_release = true

[tool.black]
line-length = 120
extend-exclude = "^/codeforlife/common/migrations/"

[tool.pytest.ini_options]
# env = ["DJANGO_SETTINGS_MODULE=example_project.settings"]
python_files = "tests.py test_*.py"
